body{
    margin: 8px;
}
.littleDictWrapper .fa-arrow-circle-left {
	margin-left: 30px;
	margin-right: 5px;
}
.littleDictWrapper .fa-arrow-circle-right {
	margin-left: 5px;
}

.littleDictWrapper .pron{
    color: rgb(58, 120, 213);
}
.littleDictWrapper .example{
    color: rgb(162, 111, 20);
}
.littleDictWrapper .fa-coffee, .littleDictWrapper .fa-volume-up{
    color: black;
}

.littleDictWrapper .modal-body{
	padding-top: 8px;
}

.littleDictWrapper .form-inline{
    margin-bottom: 8px;
}

.littleDictWrapper .fa-2x{
    vertical-align: middle;
}

.littleDictWrapper .caret{
    margin-left: 5px;
}

.littleDictWrapper .form-group.pull-right{
    margin-right: 40px;
}

.littleDictWrapper .form-inline input{
    margin-right: 15px;
}

.littleDictWrapper .dict_name {
    width: 150px;
}

.littleDictWrapper iframe{
    border: none;
    height: 350px;
    width: 100%;
}