body{
    margin: 8px;
}

.dictWrapper .pron{
    color: rgb(58, 120, 213);
}
.dictWrapper .example{
    color: rgb(162, 111, 20);
}
.dictWrapper .fa-coffee, .dictWrapper .fa-volume-up{
    color: black;
}

.dictWrapper .modal-body{
	padding-top: 8px;
}

.dictWrapper .form-inline{
    margin-bottom: 8px;
}

.dictWrapper .fa-2x{
    vertical-align: middle;
}

.dictWrapper .caret{
    margin-left: 5px;
}

.dictWrapper .form-inline .dropdown-toggle {
    overflow: hidden;
}

.dictWrapper iframe{
    border: none;
    height: 620px;
    width: 100%;
}

.dict_collection{
    margin-right: 10px;
}

.default-page{
    margin-right: 10px;
}

.sound, .default-page, .dict_prev, .dict_next{
    cursor: pointer;
}

.dict_name {
    width: 150px;
}

#stars {
    font-size: 20px;
    margin-left: 10px;
}

#stars i.fa{
    padding-left: 3px;
    color: orange;
}

.dictWrapper .fa.fa-star {
    color: orange;
}

.history .dropdown-menu {
    width: 220px;
}

.history .dropdown-menu li>a {
    padding-right: 2px;
}

#history-btn {
    max-width: 100px;
    overflow: hidden;
}
.vhide {
    visibility: hidden;
}
