#fairy-dict .navbar {
  background-color: rgba(248, 250, 251, 0.75);
}
#fairy-dict .pron {
  color: #3a78d5;
}
#fairy-dict .example {
  color: #a26f14;
}
#fairy-dict .fa-coffee,
#fairy-dict .fa-volume-up {
  color: black;
}
#fairy-dict .modal-body {
  padding-top: 8px;
}
#fairy-dict .navbar-form {
  margin-bottom: 8px;
}
#fairy-dict .fa-2x {
  vertical-align: middle;
}
#fairy-dict .caret {
  margin-left: 5px;
}
#fairy-dict .navbar-form .dropdown-toggle {
  overflow: hidden;
}
#fairy-dict iframe {
  border: none;
  height: 620px;
  width: 100%;
}
#fairy-dict .default-page {
  margin-right: 10px;
}
#fairy-dict .search-group {
  position: relative;
}
#fairy-dict .search-group .dict_input {
  max-width: 200px;
}
#fairy-dict .search-group .fa-search {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
#fairy-dict .history-group .dropdown-menu {
  width: 200px;
  text-align: left;
  height: auto;
  max-height: 600px;
  overflow-y: auto;
}
#fairy-dict .history-group .dropdown-menu li > a {
  padding-right: 2px;
}
#fairy-dict .history-group #history-btn {
  max-width: 100px;
  overflow: hidden;
}
#fairy-dict .history-group .vhide {
  visibility: hidden;
}
#fairy-dict .dict-group .dict-name {
  width: 150px;
}
#fairy-dict .dict-group .dict-list {
  text-align: left;
  width: 150px;
  overflow: hidden;
}
#fairy-dict .sound,
#fairy-dict .default-page,
#fairy-dict .dict_prev,
#fairy-dict .dict_next {
  cursor: pointer;
}
#fairy-dict #stars {
  font-size: 20px;
  /*margin-left: 10px;*/
  margin-right: 5px;
}
#fairy-dict #stars i.fa {
  padding-left: 3px;
  color: orange;
}
#fairy-dict .fa.fa-star {
  color: orange;
}
