<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Fairy Dict</title>
  <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../bower_components/angular-ui/build/angular-ui.css">
  <link rel="stylesheet" type="text/css" href="../bower_components/angular-bootstrap/ui-bootstrap-csp.css">
  <!-- <link rel="stylesheet" type="text/css" href="../bower_components/font-awesome/css/font-awesome.css"> -->
  <link rel="stylesheet" type="text/css" href="../css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../css/dictheader.css">
  <link rel="stylesheet" type="text/css" href="../css/apidict.css">

  <script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
  <script type="text/javascript" src="../bower_components/underscore/underscore.js"></script>
  <script type="text/javascript" src="../bower_components/angular/angular.js"></script>
  <script type="text/javascript" src="../bower_components/angular-ui/build/angular-ui.js"></script>
  <script type="text/javascript" src="../bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script type="text/javascript" src="../bower_components/angular-bootstrap/ui-bootstrap.js"></script>
  <script type="text/javascript" src="../utils.js"></script>
  <script type="text/javascript" src="../js/starrr.js"></script>
  <script type="text/javascript" src="../loader.js"></script>
  <script type="text/javascript" src="../dict.js"></script>
  <script type="text/javascript" src="apidict.js"></script>
</head>

<body>
</body>

