.dictionariez-anki-image-wrapper {
  position: relative;
  margin: 5px 0;

  .dictionariez-anki-image-close {
    display: block !important;
    position: absolute;
    left: 15px;
    top: 10px;
    width: 10px;
    height: 10px;

    color: gray;
    mix-blend-mode: difference;
    font-family: monospace;
    font-size: 25px;
    font-weight: bold;

    cursor: pointer;
    pointer-events: auto;
  }
}

.fairydict-pron-audio {
  cursor: pointer;
}
