#dictionaries-iframe,
.dictionariez-iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0.95;

    z-index: 9999999999;
    border: none;
    height: 50px;

    &.dropdown-open {
        height: 420px;
    }
}

.dictionariez-promotion {
    display: none;
}
