<div id="fairy-dict" class="dictWrapper" ng-controller="dictCtrl">
	<nav
		class="navbar navbar-default navbar-fixed-top {{
			inFrame ? 'in-frame' : ''
		}}"
	>
		<!-- <div class="container">
      <div class=""> -->
		<form class="navbar-form form-inline" ng-submit="query()">
			<!-- <i class="fa fa-laptop fa-lg default-page"></i> -->
			<div class="form-group history-group pull-left" ng-show="previous">
				<!-- history -->
				<div class="btn-group history">
					<button
						id="history-btn"
						type="button"
						class="btn btn-default"
						title="{{ previous.w }}"
						ng-click="selectHistory()"
					>
						{{ previous.w }}
					</button>
					<button
						type="button"
						class="btn btn-default"
						ng-click="openOptions('history')"
					>
						<i class="fa fa-history fa-lg" aria-hidden="true"></i>
						<span class="sr-only">History</span>
					</button>
				</div>
			</div>

			<div class="form-group dict-group pull-right">
				<!-- <i ng-click="changeDict('prev')" class="fa fa-arrow-circle-left fa-lg dict_prev dict_nav"></i> -->
				<!-- <div class="form-group dict-group pull-right"> -->
				<div class="btn-group dictionaries">
					<button
						type="button"
						class="btn btn-default"
						title="{{ previousDictName }}"
						ng-click="query(false, true)"
					>
						<i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
						<span class="sr-only">Previous</span>
					</button>
					<button
						class="form-control btn  btn-default dict-name"
						type="button"
						ng-click="openOptions('dictionary')"
					>
						{{ currentDictName }}
					</button>
					<button
						type="button"
						class="btn btn-default"
						title="{{ nextDictName }}"
						ng-click="query(true)"
					>
						<i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
						<span class="sr-only">Next</span>
					</button>
				</div>
				<!-- </div> -->
				<!-- <i ng-click="changeDict('next')" class="fa fa-arrow-circle-right fa-lg dict_next dict_nav"></i> -->
			</div>

			<div class="form-group search-group">
				<div id="fairy-stars" class="starrr pull-right" title="选择难度"></div>
				<i
					class="fa fa-search fa-lg pull-right"
					aria-hidden="true"
					ng-click="query()"
				></i>

				<div class="search-wrapper">
					<input
						type="text"
						ng-model="word"
						class="form-control dict-input"
						placeholder="input word"
					/>
				</div>
			</div>
		</form>
		<!-- </div>
    </div> -->
	</nav>

	<div class="dict-body" ng-hide="inFrame">
		<div class="dict_wait text-center" ng-show="querying">
			<i class="fa fa-spinner fa-spin fa-4x" title="正在查询中..."></i>
		</div>
		<div class="dict_default text-center" ng-show="initial">
			<h2>欢迎使用 Fairy Dict！</h2>

			<p>
				向作者反馈请到
				<a href="https://github.com/revir/FairyDict" target="_blank">Github</a>
				或
				<a href="https://v2mm.tech" target="_blank">
					V2MM
				</a>
				上留言， 感谢。
			</p>

			<p>
				开源地址：
				<a href="https://github.com/revir/FairyDict" target="_blank">Github</a>
				<em>你的点赞就是我前进的动力 :)</em>
			</p>
		</div>

		<div
			class="dict_result"
			ng-bind-html="queryResult"
			ng-hide="querying || initial"
		></div>
	</div>
</div>
