<div id="dictionariez-music-player" ng-controller="musicPlayerCtrl">
    <div id="bg-artwork"></div>
    <div id="bg-layer"></div>
    <div id="player">
        <div id="player-track">
            <div id="album-name"></div>
            <div id="track-name"></div>
            <div id="track-time">
                <div id="current-time"></div>
                <div id="track-length"></div>
            </div>
            <div id="s-area">
                <div id="ins-time"></div>
                <div id="s-hover"></div>
                <div id="seek-bar"></div>
            </div>
        </div>
        <div id="player-content">
            <div id="album-art">
                <img src="https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg" class="active" id="_1">
                <div id="buffer-box">Buffering ...</div>
            </div>
            <div id="player-controls">
                <div class="control">
                    <div class="button" ng-disabled="!canSeekPrev"
                        ng-click="toggleAction('previousTrack')">
                        <i class="fa fa-backward"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" 
                        ng-disabled="!canPause"
                        ng-if="playing"
                        ng-click="toggleAction('togglePlay')">
                        <i class="fa fa-pause"></i>
                    </div>
                    <div class="button" 
                        ng-if="!playing"
                        ng-click="toggleAction('togglePlay')">
                        <i class="fa fa-play"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" ng-disabled="!canSeekNext"
                        ng-click="toggleAction('nextTrack')">
                        <i class="fa fa-forward"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>