<a class="dictionaries-card-minimal-icon" href="" title="Open Dictionariez Spotify" style="display: none;">
    <img src="images/Spotify_Logo_Green.png" alt="Spotify"></img>
</a>

<div id="dictionariez-music-player" class="dictionaries-card-max" ng-controller="musicPlayerCtrl">
        <div class="dictionaries-card-toolbar navbar-fixed-top">
            <a href="" title="Open Spotify" ng-click="openTrackLink()">
                <img src="images/Spotify_Logo.png" alt="Spotify"></img>
            </a>
            

            <a class="dictionaries-card-close pull-right" href="" title="Close">
                <i class='fa fa-remove' aria-hidden='true'></i>
            </a>
            <a class="dictionaries-setting pull-right" href="" title="Go to settings">
                <i class='fa fa-cog' aria-hidden='true'></i>
            </a>
            <a class="pull-right" href="" title="What is this?" ng-click="openHelpLink()">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
            </a>
        </div>

        <div class="player-context">
            <div class="text-center preliminary">
                <img ng-src="{{albumImage.url}}" class="active" ng-if="albumImage">
                <a href="" ng-if="!isSpotifyReady" ng-click="toggleAction()">
                    Authorize Dictionariez Spotify
                </a>
                <a href="" ng-if="!spotifyState.current_track && isSpotifyReady" ng-click="toggleAction()">
                    Choose music on Spotify
                </a>
                <div ng-if="spotifyState.current_track" class="track-wrapper">
                    <p class="track-name">{{spotifyState.current_track.name}}</p>
                    <p class="artist-name ellipsis">{{artistName}}</p>
                </div>
            </div>
        </div>
        <div class="player-content">
            <div id="album-art">
                <img ng-src="{{albumImage.url}}" ng-class="{'active': playing}" ng-if="albumImage">
            </div>
            <div id="player-controls">
                <div class="control">
                    <div class="button" ng-disabled="!canSeekPrev"
                        ng-click="toggleAction('previousTrack')">
                        <i class="fa fa-step-backward"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" 
                        ng-disabled="!canPause"
                        ng-if="playing"
                        ng-click="toggleAction('togglePlay')">
                        <i class="fa fa-pause"></i>
                    </div>
                    <div class="button" 
                        ng-if="!playing"
                        ng-click="toggleAction('togglePlay')">
                        <i class="fa fa-play"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" ng-disabled="!canSeekNext"
                        ng-click="toggleAction('nextTrack')">
                        <i class="fa fa-step-forward"></i>
                    </div>
                </div>
            </div>
        </div>
</div>