<div id="dictionariez-music-player" ng-controller="musicPlayerCtrl">
        <div class="dictionaries-card-toolbar navbar-fixed-top">
            <a class="dictionaries-card-link" href="" title="Open Spotify">
                <img src="images/Spotify_Logo.png" alt="Spotify"></img>
            </a>

            <a class="dictionaries-card-close pull-right" href="" title="Close">
                <i class='fa fa-remove' aria-hidden='true'></i>
            </a>
            <a class="dictionaries-setting pull-right" href="" title="Go to settings">
                <i class='fa fa-cog' aria-hidden='true'></i>
            </a>
        </div>

        <div class="player-context">

        </div>
        <div class="player-content">
            <div id="album-art">
                <img src="" class="active" ng-if="spotifyState.current_track">
            </div>
            <div id="player-controls">
                <div class="control">
                    <div class="button" ng-disabled="!canSeekPrev"
                        ng-click="toggleAction('previousTrack')">
                        <i class="fa fa-backward"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" 
                        ng-disabled="!canPause"
                        ng-if="playing"
                        ng-click="toggleAction('togglePlay')">
                        <i class="fa fa-pause"></i>
                    </div>
                    <div class="button" 
                        ng-if="!playing"
                        ng-click="toggleAction('togglePlay')">
                        <i class="fa fa-play"></i>
                    </div>
                </div>
                <div class="control">
                    <div class="button" ng-disabled="!canSeekNext"
                        ng-click="toggleAction('nextTrack')">
                        <i class="fa fa-forward"></i>
                    </div>
                </div>
            </div>
        </div>
</div>