<!DOCTYPE html>
<html lang="en" ng-app="fairyDictApp">
	<head>
		<meta charset="UTF-8" />
		<style>
			/* For the dark or light theme */
			:root {
				color-scheme: light dark; /* both supported */
			}
			body {
				--text-color: #222;
				--bkg-color: #fbfbfb;
				--lighten-bkg-color: #cccccc;
			}
			body.dark-theme {
				--text-color: #c5c5c5;
				--bkg-color: #333333;
				--lighten-bkg-color: #4c4c4c;
			}

			@media (prefers-color-scheme: dark) {
				/* defaults to dark theme */
				body {
				--text-color: #c5c5c5;
				--bkg-color: #333333;
				--lighten-bkg-color: #4c4c4c;
				}
				body.light-theme {
				--text-color: #222;
				--bkg-color: #fbfbfb;
				--lighten-bkg-color: #cccccc;
				}
			}
			img.pull-left {
				width: 100px;
				margin-right: 30px;
			}

			#specialKeys-1 {
				margin-left: 40px;
			}
		</style>
	</head>

	<body data-spy="scroll" data-target=".nav-wrapper" style="display: none">
		<div class="container" ng-controller="optionCtrl">
			<div class="row">
				<div class="nav-wrapper col-md-2">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="active">
							<a href="#history">History</a>
						</li>
						<li role="presentation" class="">
							<a href="#dictionary">Dictionaries</a>
						</li>
						<li role="presentation" class="">
							<a href="#function-setting">Settings</a>
						</li>
						<li role="presentation" class="">
							<a href="#pro-setting">
								Pro Settings
								<i class="fa fa-star" style="color: gold; font-size: 0.8em; margin-left: 4px;"></i>
							</a>
						</li>
						<li role="presentation" class="">
							<a href="#shortcut-setting">Hotkeys</a>
						</li>
					</ul>
				</div>

				<div class="col-md-10 col-xs-12">
					<div id="home" class="section">
						<h1 class="">
							<!-- http://patorjk.com/software/taag/#p=display&h=1&v=1&f=Swan&t=Dictionariez -->
							<span ng-bind-html="asciiTitleHtml"></span>
						</h1>
						<span id="app-description"></span>
						<p>
							Star it on
							<a
								href="https://github.com/pnlpal/dictionariez"
								target="_blank"
								class="link-github"
								><i
									class="fa fa-github fa-2x"
									title="Bla Bla, it's Open Source."
								></i></a
							> and 
							<button class="btn btn-default btn-sm need-share-button"
					data-share-url="https://dictionariez.pnl.dev"
                    data-share-title="Dictionariez: a customizable browser extension for instant word lookup, sentence translation, realistic text-to-speech, and vocabulary building."
					data-share-networks="Twitter,Pinterest,Facebook,Reddit,Linkedin,Tumblr,mailto,Evernote,Wechat,Douban"
					>share</button>, it really helps!
						</p>
						<p>
							Your privacy is valued. Please read the <a class="text-muted" target="_blank" href="https://github.com/pnlpal/dictionariez/blob/master/privacy.md"> 
								privacy policy
							</a>.
						</p>
						<p>Let's learn programming and languages together, join the discussion in the
							<a class="text-muted" target="_blank" href="https://pnl.dev/topic/2/"> 
								Programming N' Language Community,
							</a> 
							<a class="text-muted" target="_blank" href="https://discord.gg/sazRac4kSa">
								Discord
							</a>, follow me on 
							<a class="text-muted"
								target="_blank"
								href="https://bsky.app/profile/pnlcommunity.bsky.social"
								>
								BlueSky</a> 
							or
							<a
								class="text-muted"
								target="_blank"
								href="https://t.me/programmingandlanguage"
								>
								Telegram </a>.
						</p> 
						<p>
							<a id="crafting-topic" class="crafting-topic-link" target="_blank" href="">
								<i class="fa fa-external-link external-link-icon" aria-hidden="true" title="External link"></i>
								<span class="crafting-topic-title"></span>
							</a>
						</p> 
					</div>
					

					<div id="history" class="section">
						<h1>History
							<span class="fa-stack fa text-success cloud-sync-status" ng-if="setting.isPro && user.loggedIn" title="Your history is synced to the cloud">
								<i class="fa fa-cloud fa-stack-2x"></i>
								<i class="fa fa-check fa-stack-1x" style="color:#43c59e;"></i>
							</span>
							<a href="{{user.subscriptionLink}}" target="_blank" class="fa-stack fa text-light cloud-sync-status" ng-if="!setting.isPro || !user.loggedIn" title="Your history is not synced to the cloud, please upgrade to Pro to enable cloud sync">
								<i class="fa fa-cloud fa-stack-2x"></i>
								<i class="fa fa-times fa-stack-1x" style="color:grey;"></i>
							</a>
						</h1>
						<div class="storage-almost-full-alert" ng-if="!setting.isPro && historyAlmostFull">
							<p>
								<i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
								<strong>Your local storage is almost full.</strong><br>
								Please consider to <a href="{{user.subscriptionLink}}" target="_blank" class="btn btn-primary btn-sm" style="margin:0 0.5em;">Upgrade to Pro</a> to enable cloud sync and get unlimited history.
								Otherwise, the oldest word in history will be removed when the storage is full.
							</p>
						</div>
						<div ng-if="setting.isPro && user.loggedIn === false" class="session-expired-alert">
							<p>
								<strong>Your session has expired.</strong><br>
								Please <a href="{{user.link}}" target="_blank" class="btn btn-primary btn-sm" style="margin:0 0.5em;">Log in</a> again to sync your history.
							</p>
						</div>
						<table ng-if="!setting.disableWordHistory"
							id="table-history"
							class="table table-condensed table-bordered111"
							style="width: 100%"
						></table>
						<p ng-if="setting.disableWordHistory">Word history is disabled!</p>
						<p ng-if="!setting.disabledWordHistory && !history" class="history-loading">
							<i class="fa fa-spinner fa-spin fa-2x" aria-hidden="true"></i>
							<span style="margin-left:0.7em;">Loading your history...</span>
						</p>
					</div>

					<div id="dictionary" class="section">
						<h1>Dictionaries
							<span class="fa-stack fa text-success cloud-sync-status" ng-if="setting.isPro && user.loggedIn && !syncDictsError" title="Your dictionaries are synced to the cloud">
								<i class="fa fa-cloud fa-stack-2x"></i>
								<i class="fa fa-check fa-stack-1x" style="color:#43c59e;"></i>
							</span>
							<span class="fa-stack fa text-danger cloud-sync-status" ng-if="setting.isPro && user.loggedIn && syncDictsError" title="Sync error: {{syncDictsError}}, please try again later or contact support at https://pnl.dev">
								<i class="fa fa-cloud fa-stack-2x"></i>
								<i class="fa fa-times fa-stack-1x" style="color:#e74c3c;"></i>
							</span>
							<a href="{{user.subscriptionLink}}" target="_blank" class="fa-stack fa text-light cloud-sync-status" ng-if="!setting.isPro || !user.loggedIn" title="Your dictionaries are not synced to the cloud, please upgrade to Pro to enable cloud sync">
								<i class="fa fa-cloud fa-stack-2x"></i>
								<i class="fa fa-times fa-stack-1x" style="color:grey;"></i>
							</a>
						</h1>
						<div ng-if="setting.isPro && user.loggedIn === false" class="session-expired-alert">
							<p>
								<strong>Your session has expired.</strong><br>
								Please <a href="{{user.link}}" target="_blank" class="btn btn-primary btn-sm" style="margin:0 0.5em;">Log in</a> again to sync your dictionaries.
							</p>
						</div>
						<p class="text-muted">
							Tip 1: Ctrl/CMD + Click a dictionary name to open several dictionaries simultaneously. <br>
							Tip 2: You can reorder the dictionaries by dragging the rows.
						</p>
						<table
							id="table-dictionary"
							class="table table-condensed table-bordered111"
							style="width: 100%"
						></table>
					</div>

					<div id="function-setting" class="section function-setting">
						<h1>Settings</h1>

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.markWords"
									ng-click="changeKey(!setting.markWords, 'markWords')"
								/>
								Highlight your selected words in yellow (not permanent, gone after page refresh)
							</label>
						</div>
						<div class="checkbox indent">
							<label class="choose-mark-color">
								Choose highlight color: &nbsp;
								<color-picker 
									event-api="markColorEvent"
									ng-model="setting.markColor"></color-picker>
							</label>
							<br>
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableMarkWordsSK1"
									ng-click="changeKey(!setting.enableMarkWordsSK1, 'enableMarkWordsSK1')"
								/>
								Only when using the hotkey:
							</label>

							<div class="btn-group" uib-dropdown uib-keyboard-nav>
								<button
									uib-dropdown-toggle
									class="form-control btn dropdown-toggle btn-default"
									type="button"
									id="btn-markWordsSK1"
								>
									{{ setting.markWordsSK1 }}
									<span class="caret"></span>
								</button>

								<ul
									uib-dropdown-menu
									class="dropdown-menu"
									role="menu"
									aria-labelledby="btn-markWordsSK1"
								>
									<li role="menuitem" ng-repeat="item in allSK" ng-hide="!item">
										<a ng-click="changeKey(item, 'markWordsSK1')">{{ item }}</a>
									</li>
								</ul>
							</div>

							<div class="btn-group" uib-dropdown uib-keyboard-nav>
								<button
									uib-dropdown-toggle
									class="form-control btn dropdown-toggle btn-default"
									type="button"
									id="btn-markWordsKey"
								>
									{{ setting.markWordsKey }}
									<span class="caret"></span>
								</button>

								<ul
									uib-dropdown-menu
									class="dropdown-menu"
									role="menu"
									aria-labelledby="btn-markWordsKey"
								>
									<li role="menuitem" ng-repeat="item in allLetters">
										<a ng-click="changeKey(item, 'markWordsKey')">{{ item }}</a>
									</li>
								</ul>
							</div>
						</div>

						<br>

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableSelectionOnMouseMove"
									ng-click="changeKey(!setting.enableSelectionOnMouseMove, 'enableSelectionOnMouseMove')"
								/>
								Automatically select the word underneath when moving mouse.
							</label>
						</div>

						<div class="checkbox indent">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableSelectionSK1"
									ng-click="changeKey(!setting.enableSelectionSK1, 'enableSelectionSK1')"
								/>
								Need to hold the key
							</label>

							<div class="btn-group" uib-dropdown uib-keyboard-nav>
								<button
									uib-dropdown-toggle
									class="form-control btn dropdown-toggle btn-default"
									type="button"
									id="btn-selectionSK1"
								>
									{{ setting.selectionSK1 }}
									<span class="caret"></span>
								</button>

								<ul
									uib-dropdown-menu
									class="dropdown-menu"
									role="menu"
									aria-labelledby="btn-selectionSK1"
								>
									<li role="menuitem" ng-repeat="item in allSK" ng-hide="!item">
										<a ng-click="changeKey(item, 'selectionSK1')">{{ item }}</a>
									</li>
								</ul>
							</div>
						</div>

						<br />

						<div class="checkbox" ng-if="!isSidePal">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enablePlainLookup"
									ng-click="changeKey(!setting.enablePlainLookup, 'enablePlainLookup')"
								/>
								Show a floating definition bubble when you select a word (supports multiple languages).
							</label>
						</div>
						
						<div class="indent" ng-if="!isSidePal && setting.enablePlainLookup" style="margin-bottom: 20px;">
							<div class="checkbox">
								<label>
									<input
										type="checkbox"
										ng-model="setting.needDblclick"
										ng-click="changeKey(!setting.needDblclick, 'needDblclick')"
									/>
									Only trigger lookup when double-clicking a word.
									<span class="text-muted">(If unchecked, selecting any word will show the definition bubble)</span>
								</label>
							</div>	

							<div class="checkbox">
								<label>
									<input
										type="checkbox"
										ng-model="setting.enablePlainSK1"
										ng-click="changeKey(!setting.enablePlainSK1, 'enablePlainSK1')"
									/>
									Need to hold the key to look up:
								</label>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default btn-xs"
										type="button"
										id="btn-plainSK1"
									>
										{{ setting.plainSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-plainSK1"
									>
										<li role="menuitem" ng-repeat="item in allSK" ng-hide="!item">
											<a ng-click="changeKey(item, 'plainSK1')">{{ item }}</a>
										</li>
									</ul>
								</div>
							</div>
						</div>

						<div class="form-group indent" ng-if="!isSidePal && setting.enablePlainLookup">
							<label for="lookup-languages-options">Target languages to look up:</label>
							<select id="lookup-languages-options" multiple class="form-control"></select>
							<p class="help-block text-muted">
								<small>
									Some words (like "gift") exist in multiple languages (English/German/Swedish). 
									Select the languages you want to capture. 
									See <a href="examples.html" target="_blank">how it works</a>.
								</small>
							</p>
							
							<!-- Chinese Settings -->
							<div class="panel-default" ng-if="setting.enableLookupChinese" style="margin-top: 15px; border-left: 3px solid #d9534f;">
								<div class="panel-body" style="padding: 10px;">
									<strong>Chinese Options</strong>
									<div class="checkbox">
										<label>
											<input
												type="checkbox"
												ng-model="setting.enableConvertCn2T"
												ng-click="changeKey(!setting.enableConvertCn2T, 'enableConvertCn2T')"
											/>
											Show definitions in Traditional Chinese instead of Simplified Chinese.
										</label>
									</div>
									<div class="text-muted small">
										<i class="fa fa-info-circle"></i> Japanese Kanji often conflicts with Chinese. Deselect Chinese above if you are learning Japanese.
									</div>
								</div>
							</div>

							<!-- English Settings -->
							<div class="panel-default" ng-if="setting.enableLookupEnglish" style="margin-top: 15px; border-left: 3px solid #337ab7;">
								<div class="panel-body" style="padding: 10px;">
									<strong>English Options</strong>
									
									<div style="margin-top: 10px; margin-bottom: 10px;">
										<label style="font-weight: normal;">Lookup source:</label>
										<div class="btn-group" uib-dropdown uib-keyboard-nav>
											<button
												uib-dropdown-toggle
												class="form-control btn dropdown-toggle btn-default btn-xs"
												type="button"
												id="btn-englishLookupSource"
											>
												{{ englishLookupSources[setting.englishLookupSource] }}
												<span class="caret"></span>
											</button>
			
											<ul
												uib-dropdown-menu
												class="dropdown-menu"
												role="menu"
												aria-labelledby="btn-englishLookupSource"
											>
												<li role="menuitem" ng-repeat="(k, v) in englishLookupSources">
													<a ng-click="changeKey(k, 'englishLookupSource')">{{ v }}</a>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
						<br />
						
						<div class="checkbox" ng-if="!isSidePal">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableMinidict"
									ng-click="changeKey(!setting.enableMinidict, 'enableMinidict')"
								/>
								Automatically open the popup dict window to look up the seleted word.
							</label>
						</div>

						<div class="checkbox indent" ng-if="!isSidePal">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableMouseSK1"
									ng-click="changeKey(!setting.enableMouseSK1, 'enableMouseSK1')"
								/>
								Need to hold the key
							</label>

							<div class="btn-group" uib-dropdown uib-keyboard-nav>
								<button
									uib-dropdown-toggle
									class="form-control btn dropdown-toggle btn-default"
									type="button"
									id="btn-mouseSK1"
								>
									{{ setting.mouseSK1 }}
									<span class="caret"></span>
								</button>

								<ul
									uib-dropdown-menu
									class="dropdown-menu"
									role="menu"
									aria-labelledby="btn-mouseSK1"
								>
									<li role="menuitem" ng-repeat="item in allSK" ng-hide="!item">
										<a ng-click="changeKey(item, 'mouseSK1')">{{ item }}</a>
									</li>
								</ul>
							</div>
							<br />
						</div>
						
						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.disableWordHistory"
									ng-click="changeKey(!setting.disableWordHistory, 'disableWordHistory')"
								/>
								Disable word history!!
							</label>
						</div>
						<div class="checkbox" ng-if="!isSidePal">
							<label>
								<input
									type="checkbox"
									ng-model="setting.disableWikipediaCard"
									ng-click="changeKey(!setting.disableWikipediaCard, 'disableWikipediaCard')"
								/>
								Disable wikipedia result on the popup dict window.
							</label>
						</div>

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.disableContextMenu"
									ng-click="changeKey(!setting.disableContextMenu, 'disableContextMenu')"
								/>
								Disable the lookup item in context menu.
							</label>
						</div>
						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableReadClipboard"
									ng-click="changeKey(!setting.enableReadClipboard, 'enableReadClipboard')"
								/>
								Enable reading the clipboard to get the selected word. 
								<em>{{setting.readClipboardError}}</em>
							</label>
						</div>

						<div class="checkbox" ng-if="!isSidePal">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableAutoCloseMinidict"
									ng-click="changeKey(!setting.enableAutoCloseMinidict, 'enableAutoCloseMinidict')"
								/>
								Automatically close the popup dict window when focus normal window.
							</label>
						</div>

						<div>
							<label for="excluded-websites">
								<span>Don't run on these websites:</span>
							</label>
							<br>
							<em>
								This extension injects a script on the webpages so that when you select a word or use the keyboard shortcut, it can
								look up the word for you. But some websites may not be compatible with it. You can add the exceptions here. Regex is supported.
							</em>
							<div>
								<textarea name="excluded-webistes" 
									id="excluded-websites" 
									class="form-control"
									ng-model="setting.excludedSites" 
									ng-change="changeKey('excludedSites')" 
									cols="10" 
									rows="5">
								</textarea>
							</div>
						</div>
					</div>

					<br />

					<div id="pro-setting" class="section pro-setting">
						<h1>Pro Settings 
							<a href="https://pnl.dev/pro" target="_blank" class="pro-badge" title="Upgrade to Pro to unlimit these features">
								<i class="fa fa-star"></i> Pro
							</a>
						</h1>

						<div class="pro-settings-wrapper">
							<div class="pro-feature-section">
								<h3>AI Lookup Settings
									<a class="what-is-this" href='https://pnl.dev/topic/1048/dictionariez-v7-0-a-new-milestone-in-ai-powered-language-learning' title="What is this?" target="_blank">
										<i class="fa fa-question-circle" aria-hidden="true"></i>
									</a>
								</h3>
								<div class="form-group">
									<label for="ai-response-language" class="select-label">
										Response Language
										<span class="text-muted">(Language for AI definitions and examples)</span>
									</label>
									<select id="ai-response-language" class="form-control">
										<option value="">English (default)</option>
									</select>
									<p class="help-text text-muted">
										For example, if you're learning Swedish but prefer German explanations, select German here.
									</p>
								</div>
							</div>

							<div class="pro-feature-section">
								<h3>Sentence/Paragraph Selection Bubble</h3>
								<p class="text-muted">Quick access to TTS and translation when selecting text</p>

								<div class="checkbox">
									<label>
										Show the bubble only when key is pressed:
									</label>
									<div class="btn-group" uib-dropdown uib-keyboard-nav>
										<button
											uib-dropdown-toggle
											class="form-control btn dropdown-toggle btn-default"
											type="button"
											id="btn-sentenceBubbleSK"
										>
											{{ setting.sentenceBubbleSK || 'None (always show)' }}
											<span class="caret"></span>
										</button>

										<ul
											uib-dropdown-menu
											class="dropdown-menu"
											role="menu"
											aria-labelledby="btn-sentenceBubbleSK"
										>
											<li role="menuitem" ng-repeat="item in allSK">
												<a ng-click="changeKey(item, 'sentenceBubbleSK')">{{ item || 'None (always show)' }}</a>
											</li>
										</ul>
									</div>
								</div>

								<div class="checkbox">
									<label>
										<input
											type="checkbox"
											ng-model="setting.disableTTS"
											ng-click="changeKey(!setting.disableTTS, 'disableTTS')"
										/>
										Hide the Text-to-Speech (TTS) button in the popup bubble
										<a  class="what-is-this" href='https://pnl.dev/topic/1036/introducing-tts-pro-ai-powered-text-to-speech-comes-to-dictionariez-v6-3-0' title="What is this?" target="_blank">
											<i class="fa fa-question-circle" aria-hidden="true"></i>
										</a>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input
											type="checkbox"
											ng-model="setting.disableTranslator"
											ng-click="changeKey(!setting.disableTranslator, 'disableTranslator')"
										/>
										Hide the Translation button in the popup bubble
										<a class="what-is-this" href='https://pnl.dev/topic/1041/introducing-translation-pro-instant-text-translation-in-dictionariez' title="What is this?" target="_blank">
											<i class="fa fa-question-circle" aria-hidden="true"></i>
										</a>
									</label>
								</div>

								<div class="checkbox">
									<label>
										<input
											type="checkbox"
											ng-model="setting.disableAIHelper"
											ng-click="changeKey(!setting.disableAIHelper, 'disableAIHelper')"
										/>
										Hide the Help-Me-Refine button in editable fields for selected text
										<a class="what-is-this" href='https://pnl.dev/topic/952/introducing-help-me-refine-now-available-on-dictionariez-v5-4-0-enhance-your-writing-with-ai' title="What is this?" target="_blank">
											<i class="fa fa-question-circle" aria-hidden="true"></i>
										</a>
									</label>
								</div>
							</div>
						</div>
					</div>

					<br />

					<div id="shortcut-setting" class="section shortcut-setting">
						<h1>Hotkeys</h1>

						<div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2">Open the dict: </span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-sk1"
									>
										{{ setting.openSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'openSK1')">{{ item }}</a>
										</li>
									</ul>
								</div>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-sk2"
									>
										{{ setting.openSK2 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-sk2"
									>
										<li role="menuitem" ng-repeat="item in allSK">
											<a ng-click="changeKey(item, 'openSK2')"
												>{{ item ? item : "Empty" }}</a
											>
										</li>
									</ul>
								</div>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-open-key"
									>
										{{ setting.openKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-open-key"
									>
										<li role="menuitem" ng-repeat="item in allLetters">
											<a ng-click="changeKey(item, 'openKey')">{{ item }}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2">Open the lookup history: </span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-option-sk1"
									>
										{{ setting.openOptionSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-option-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'openOptionSK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-option-sk2"
									>
										{{ setting.openOptionSK2 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-option-sk2"
									>
										<li role="menuitem" ng-repeat="item in allSK">
											<a ng-click="changeKey(item, 'openOptionSK2')"
												>{{ item ? item : "Empty" }}</a
											>
										</li>
									</ul>
								</div>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-open-option-key"
									>
										{{ setting.openOptionKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-open-option-key"
									>
										<li role="menuitem" ng-repeat="item in allLetters">
											<a ng-click="changeKey(item, 'openOptionKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2"
										>Look up in previous dictionary:
									</span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-prev-dict-sk1"
									>
										{{ setting.prevDictSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-prev-dict-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'prevDictSK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-prev-dict-key"
									>
										{{ setting.prevDictKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-prev-dict-key"
									>
										<li role="menuitem" ng-repeat="item in allKeys">
											<a ng-click="changeKey(item, 'prevDictKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2"
										>look up in next dictionary:
									</span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-next-dict-sk1"
									>
										{{ setting.nextDictSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-next-dict-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'nextDictSK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-next-dict-key"
									>
										{{ setting.nextDictKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-next-dict-key"
									>
										<li role="menuitem" ng-repeat="item in allKeys">
											<a ng-click="changeKey(item, 'nextDictKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2"
										>Look up previous history word:
									</span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-prev-history-sk1"
									>
										{{ setting.prevHistorySK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-prev-history-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'prevHistorySK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-prev-history-key"
									>
										{{ setting.prevHistoryKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-prev-history-key"
									>
										<li role="menuitem" ng-repeat="item in allKeys">
											<a ng-click="changeKey(item, 'prevHistoryKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2"
										>Look up next history word:
									</span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-next-history-sk1"
									>
										{{ setting.nextHistorySK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-next-history-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'nextHistorySK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-next-history-key"
									>
										{{ setting.nextHistoryKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-next-history-key"
									>
										<li role="menuitem" ng-repeat="item in allKeys">
											<a ng-click="changeKey(item, 'nextHistoryKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="user-profile-wrapper">
				<a class="avatar-wrapper" href="{{user.link}}" target="_blank">
					<img ng-src="{{ user.pictureUrl }}" alt="" id="avatar">
				</a>
				<div class="user-info">
					<a class="user-name" href="{{user.link}}" target="_blank">{{ user.username }}</a>
					<a href="{{user.subscriptionLink}}" target="_blank" class="user-badge {{ setting.isPro ? 'pro' : 'free' }}">
						<span ng-if="setting.isPro" title="You are a Pro user!"><i class="fa fa-star"></i> Pro</span>
						<span ng-if="!setting.isPro" title="Get Pro to support the development and get more features!">Free</span>
					</a>
				</div>
			</div>
		</div>
		<div
			id="confirm-delete-modal"
			class="modal fade"
			tabindex="-1"
			role="dialog"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Caution</h4>
					</div>
					<div class="modal-body">
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button
							type="button"
							class="btn btn-danger button-confirm"
							data-dismiss="modal"
						>
							Confirm
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</body>
</html>
