<!DOCTYPE html>
<html lang="en" ng-app="fairyDictApp">
	<head>
		<meta charset="UTF-8" />
		<!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.css"> -->
		<!-- <link rel="stylesheet" type="text/css" href="bower_components/angular-ui/build/angular-ui.css"> -->
		<!-- <link rel="stylesheet" type="text/css" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css"> -->
		<!-- <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="css/options.css">
  <link rel="stylesheet" type="text/css" href="needsharebutton.min.css"> -->

		<!-- <script type="text/javascript" src="bower_components/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="bower_components/angular-ui/build/angular-ui.js"></script>
    <script type="text/javascript" src="bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap.js"></script> -->

		<!-- <script type="text/javascript" src="utils.js"></script>
    <script type="text/javascript" src="option/option.js"></script> -->
		<!-- <script type="text/javascript" src="needsharebutton.min.js"></script> -->

		<style>
			img.pull-left {
				width: 100px;
				margin-right: 30px;
			}

			#specialKeys-1 {
				margin-left: 40px;
			}
		</style>
		<title>Dictionaries Options</title>
	</head>

	<body data-spy="scroll" data-target=".nav-wrapper" style="display: none">
		<div class="container" ng-controller="optionCtrl">
			<div class="row">
				<div class="nav-wrapper col-md-2">
					<ul class="nav nav-pills nav-stacked">
						<li role="presentation" class="active">
							<a href="#history">History</a>
						</li>
						<li role="presentation" class="">
							<a href="#dictionary">Dictionaries</a>
						</li>
						<li role="presentation" class="">
							<a href="#function-setting">Settings</a>
						</li>
						<li role="presentation" class="">
							<a href="#shortcut-setting">Hotkeys</a>
						</li>
					</ul>
				</div>

				<div class="col-md-10">
					<div id="home" class="section">
						<h1>
							<pre class="ascii-title">
.--.        .
|   : o    _|_   o                    o
|   | .  .-.|    .  .-. .--. .-.  .--..  .-. .--.
|   ; | (   |    | (   )|  |(   ) |   | (.-' `--.
'--'-' `-`-'`-'-' `-`-' '  `-`-'`-' -' `-`--'`--'
							</pre
							>
						</h1>
						<p>Trying to make a handy dictionary app.</p>
						<p>
							It's open-source, if you like it or find any bug, please tell me
							at
							<a
								href="https://github.com/revir/dictionaries"
								target="_blank"
								class="link-github"
								><i
									class="fa fa-github fa-2x"
									title="Bla Bla, it's Open Source."
								></i></a
							>.
						</p>
						<p>
							And also, as an ESL learner, please kindly let me know if you find
							any inappropriate translation in this app.
						</p>
					</div>

					<div id="history" class="section">
						<h1>History</h1>
						<table
							id="table-history"
							class="table table-condensed table-bordered111"
							style="width: 100%"
						></table>
					</div>

					<div id="dictionary" class="section">
						<h1>Dictionaries</h1>
						<table
							id="table-dictionary"
							class="table table-condensed table-bordered111"
							style="width: 100%"
						></table>
					</div>

					<div id="function-setting" class="section function-setting">
						<h1>Settings</h1>

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableSelectionOnMouseMove"
									ng-click="changeKey(setting.enableSelectionOnMouseMove, 'enableSelectionOnMouseMove')"
								/>
								Enable automatic words selection when move mouse.
							</label>
						</div>

						<div class="checkbox indent">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableSelectionSK1"
									ng-click="changeKey(setting.enableSelectionSK1, 'enableSelectionSK1')"
								/>
								With holding of key
							</label>

							<div class="btn-group" uib-dropdown uib-keyboard-nav>
								<button
									uib-dropdown-toggle
									class="form-control btn dropdown-toggle btn-default"
									type="button"
									id="btn-selectionSK1"
								>
									{{ setting.selectionSK1 }}
									<span class="caret"></span>
								</button>

								<ul
									uib-dropdown-menu
									class="dropdown-menu"
									role="menu"
									aria-labelledby="btn-selectionSK1"
								>
									<li role="menuitem" ng-repeat="item in allSK" ng-hide="!item">
										<a ng-click="changeKey(item, 'selectionSK1')">{{ item }}</a>
									</li>
								</ul>
							</div>
						</div>

						<br />

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enablePlainLookup"
									ng-click="changeKey(setting.enablePlainLookup, 'enablePlainLookup')"
								/>
								Enable in-page definition, look up words in your slection.
							</label>
						</div>
						<div class="checkbox indent">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableAmeAudio"
									ng-click="changeKey(setting.enableAmeAudio, 'enableAmeAudio')"
								/>
								Automatically play U.S. pronunciation.
							</label>
							<br />
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableBreAudio"
									ng-click="changeKey(setting.enableBreAudio, 'enableBreAudio')"
								/>
								Automatically play U.K. pronunciation.
							</label>
						</div>

						<div class="checkbox indent">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enablePlainSK1"
									ng-click="changeKey(setting.enablePlainSK1, 'enablePlainSK1')"
								/>
								With holding of key
							</label>

							<div class="btn-group" uib-dropdown uib-keyboard-nav>
								<button
									uib-dropdown-toggle
									class="form-control btn dropdown-toggle btn-default"
									type="button"
									id="btn-plainSK1"
								>
									{{ setting.plainSK1 }}
									<span class="caret"></span>
								</button>

								<ul
									uib-dropdown-menu
									class="dropdown-menu"
									role="menu"
									aria-labelledby="btn-plainSK1"
								>
									<li role="menuitem" ng-repeat="item in allSK" ng-hide="!item">
										<a ng-click="changeKey(item, 'plainSK1')">{{ item }}</a>
									</li>
								</ul>
							</div>
						</div>

						<br />

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableMinidict"
									ng-click="changeKey(setting.enableMinidict, 'enableMinidict')"
								/>
								Enable to open the dict to look up words in your selection.
							</label>
						</div>

						<div class="checkbox indent">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableMouseSK1"
									ng-click="changeKey(setting.enableMouseSK1, 'enableMouseSK1')"
								/>
								With holding of key
							</label>

							<div class="btn-group" uib-dropdown uib-keyboard-nav>
								<button
									uib-dropdown-toggle
									class="form-control btn dropdown-toggle btn-default"
									type="button"
									id="btn-mouseSK1"
								>
									{{ setting.mouseSK1 }}
									<span class="caret"></span>
								</button>

								<ul
									uib-dropdown-menu
									class="dropdown-menu"
									role="menu"
									aria-labelledby="btn-mouseSK1"
								>
									<li role="menuitem" ng-repeat="item in allSK" ng-hide="!item">
										<a ng-click="changeKey(item, 'mouseSK1')">{{ item }}</a>
									</li>
								</ul>
							</div>
						</div>
						<br />

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableLookupEnglish"
									ng-click="changeKey(setting.enableLookupEnglish, 'enableLookupEnglish')"
								/>
								Enable lookup if select <strong>English</strong> words
							</label>
						</div>

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableLookupChinese"
									ng-click="changeKey(setting.enableLookupChinese, 'enableLookupChinese')"
								/>
								Enable lookup if select <strong>Chinese</strong> words
							</label>
						</div>

						<div class="checkbox">
							<label>
								<input
									type="checkbox"
									ng-model="setting.enableLookupJapanese"
									ng-click="changeKey(setting.enableLookupJapanese, 'enableLookupJapanese')"
								/>
								Enable lookup if select <strong>Japanese</strong> words
							</label>
						</div>
					</div>

					<br />

					<div id="shortcut-setting" class="section shortcut-setting">
						<h1>Hotkeys</h1>

						<div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2">Open the dict: </span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-sk1"
									>
										{{ setting.openSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'openSK1')">{{ item }}</a>
										</li>
									</ul>
								</div>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-sk2"
									>
										{{ setting.openSK2 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-sk2"
									>
										<li role="menuitem" ng-repeat="item in allSK">
											<a ng-click="changeKey(item, 'openSK2')"
												>{{ item ? item : "Empty" }}</a
											>
										</li>
									</ul>
								</div>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-open-key"
									>
										{{ setting.openKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-open-key"
									>
										<li role="menuitem" ng-repeat="item in allLetters">
											<a ng-click="changeKey(item, 'openKey')">{{ item }}</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2">Open the lookup history: </span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-option-sk1"
									>
										{{ setting.openOptionSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-option-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'openOptionSK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-option-sk2"
									>
										{{ setting.openOptionSK2 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-option-sk2"
									>
										<li role="menuitem" ng-repeat="item in allSK">
											<a ng-click="changeKey(item, 'openOptionSK2')"
												>{{ item ? item : "Empty" }}</a
											>
										</li>
									</ul>
								</div>

								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-open-option-key"
									>
										{{ setting.openOptionKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-open-option-key"
									>
										<li role="menuitem" ng-repeat="item in allLetters">
											<a ng-click="changeKey(item, 'openOptionKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2"
										>Look up in previous dictionary:
									</span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-prev-dict-sk1"
									>
										{{ setting.prevDictSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-prev-dict-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'prevDictSK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-prev-dict-key"
									>
										{{ setting.prevDictKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-prev-dict-key"
									>
										<li role="menuitem" ng-repeat="item in allKeys">
											<a ng-click="changeKey(item, 'prevDictKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2"
										>look up in next dictionary:
									</span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-next-dict-sk1"
									>
										{{ setting.nextDictSK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-next-dict-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'nextDictSK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-next-dict-key"
									>
										{{ setting.nextDictKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-next-dict-key"
									>
										<li role="menuitem" ng-repeat="item in allKeys">
											<a ng-click="changeKey(item, 'nextDictKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>

							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2"
										>Look up previous history word:
									</span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-prev-history-sk1"
									>
										{{ setting.prevHistorySK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-prev-history-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'prevHistorySK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-prev-history-key"
									>
										{{ setting.prevHistoryKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-prev-history-key"
									>
										<li role="menuitem" ng-repeat="item in allKeys">
											<a ng-click="changeKey(item, 'prevHistoryKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>
							<div class="row">
								<div class="col-md-3">
									<span style="line-height: 2"
										>Look up next history word:
									</span>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-next-history-sk1"
									>
										{{ setting.nextHistorySK1 }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-next-history-sk1"
									>
										<li
											role="menuitem"
											ng-repeat="item in allSK"
											ng-hide="!item"
										>
											<a ng-click="changeKey(item, 'nextHistorySK1')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
								<div class="btn-group" uib-dropdown uib-keyboard-nav>
									<button
										uib-dropdown-toggle
										class="form-control btn dropdown-toggle btn-default"
										type="button"
										id="btn-next-history-key"
									>
										{{ setting.nextHistoryKey }}
										<span class="caret"></span>
									</button>

									<ul
										uib-dropdown-menu
										class="dropdown-menu"
										role="menu"
										aria-labelledby="btn-next-history-key"
									>
										<li role="menuitem" ng-repeat="item in allKeys">
											<a ng-click="changeKey(item, 'nextHistoryKey')"
												>{{ item }}</a
											>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div
			id="confirm-delete-modal"
			class="modal fade"
			tabindex="-1"
			role="dialog"
		>
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<button
							type="button"
							class="close"
							data-dismiss="modal"
							aria-label="Close"
						>
							<span aria-hidden="true">&times;</span>
						</button>
						<h4 class="modal-title">Caution</h4>
					</div>
					<div class="modal-body">
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cancel
						</button>
						<button
							type="button"
							class="btn btn-danger button-confirm"
							data-dismiss="modal"
						>
							Confirm
						</button>
					</div>
				</div>
				<!-- /.modal-content -->
			</div>
			<!-- /.modal-dialog -->
		</div>
		<!-- /.modal -->
	</body>
</html>
